#colorchange{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
#colorchange:hover{
    transition: width 2s;
    background-color: red;
}

#heightchange{
    height: 50px;
    width: 50px;
    background-color: brown;
}
#heightchange:hover{
    height: 300px;
    width: 50px;
    background-color: brown;
}
